<div>
	<ul class="breadcrumb">
		<li><a href="#" onclick="ajaxContent('/jf/platform/index/content');">${i18nMap["admin.common.mainPage"]}</a> <span class="divider">/</span></li>
		<li><a href="#" onclick="ajaxContent('/jf/platform/operator');">${i18nMap["admin.operator.common.name"]}</a> <span class="divider">/</span></li>
		<li><a href="#">${i18nMap["admin.operator.update"]}</a></li>
	</ul>
</div>

<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>
				<i class="icon-edit"></i> ${i18nMap["admin.operator.update"]}
			</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
			</div>
		</div>
		
		<div class="box-content">
			<form class="form-horizontal" id="editForm" action="${cxt!}/jf/platform/operator/update" method="POST">
				<input type="hidden" name="operator.ids" value="${escapeXml(operator.ids!)}" >
				<input type="hidden" name="operator.version" value="${operator.version! + 1}">
				
				<% include("/platform/operator/form.html"){} %>
				<div class="form-actions">
					<% if(hasPrivilegeUrl("/jf/platform/operator/update")){ %>
						<button class="btn btn-primary" type="button" onclick="dataVali(this.form);">${i18nMap["admin.common.submit"]}</button>
					<% } %>
				</div>
			</form>
		</div>
	</div>
	<!--/span-->
</div>
<!--/row-->