<div>
	<ul class="breadcrumb">
		<li><a href="#" onclick="ajaxContent('/jf/wx/index/content');">${i18nMap["admin.common.mainPage"]}</a> <span class="divider">/</span></li>
		<li><a href="#" onclick="ajaxContent('/jf/wx/group');">${i18nMap["admin.group.common.name"]}</a> <span class="divider">/</span></li>
		<li><a href="#">${i18nMap["admin.group.update"]}</a></li>
	</ul>
</div>

<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>
				<i class="icon-edit"></i> ${i18nMap["admin.group.update"]}
			</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
			</div>
		</div>
		
		<div class="box-content">
			<form class="form-horizontal" id="editForm" action="${cxt!}/jf/wx/group/update" method="POST">
				<input type="hidden" name="group.ids" value="${escapeXml(group.ids!)}" >
				<input type="hidden" name="group.version" value="${group.version! + 1}">
				
				<input type="hidden" name="group.id" value="${escapeXml(group.id!)}" >
				
				<% include("/platform/group/form.html"){} %>
				<div class="form-actions">
					<% if(hasPrivilegeUrl("/jf/wx/group/update")){ %>
						<button class="btn btn-primary" type="button" onclick="dataVali(this.form);">${i18nMap["admin.common.submit"]}</button>
					<% } %>
				</div>
			</form>
		</div>
	</div>
	<!--/span-->
</div>
<!--/row-->