<div>
	<ul class="breadcrumb">
		<li><a href="#" onclick="ajaxContent('/jf/platform/index/content');">${i18nMap["admin.common.mainPage"]}</a> <span class="divider">/</span></li>
		<li><a href="#" onclick="ajaxContent('/jf/platform/user');">${i18nMap["admin.user.common.name"]}</a> <span class="divider">/</span></li>
		<li><a href="#">${i18nMap["admin.user.update"]}</a></li>
	</ul>
</div>

<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>
				<i class="icon-edit"></i> ${i18nMap["admin.user.update"]}
			</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
			</div>
		</div>
		
		<div class="box-content">
			<form class="form-horizontal" id="editForm" action="${cxt!}/jf/platform/user/update" method="POST">
				<input type="hidden" name="user.ids" value="${escapeXml(user.ids!)}" >
				<input type="hidden" name="user.version" value="${user.version! + 1}">
				
				<input type="hidden" name="userInfo.ids" value="${escapeXml(userInfo.ids!)}" >
				<input type="hidden" name="userInfo.version" value="${userInfo.version! + 1}">
				
				<% include("/platform/user/form.html", {"operatorType" : "update"}){}%>
				<div class="form-actions">
					<% if(hasPrivilegeUrl("/jf/platform/user/update")){ %>
						<button class="btn btn-primary" type="button" onclick="dataVali(this.form);">${i18nMap["admin.common.submit"]}</button>
					<% } %>
				</div>
			</form>
		</div>
	</div>
	<!--/span-->
</div>
<!--/row-->